{% extends "base.html.twig" %}

{% block body %}

	<div class="jumbotron">

		<p>
			Votre compte a été crée avec succés, consulter votre boite mail pour vérifier votre compte
		</p>
	</div>

{% endblock %}
