{% extends 'base.html.twig' %}

{% block title %}Reset your password{% endblock %}

{% block body %}
    {% for flashError in app.flashes('reset_password_error') %}
        <div class="alert alert-danger" role="alert">{{ flashError }}</div>
    {% endfor %}
    <div class="row">
    <div class="col-sm-6 col-sm-offset-3">
    <h2>Réinitialiser Votre mot de pass</h2>
    {{ form_start(requestForm) }}
    </div>
        </br>
        </br>
    <div class="col-sm-6 col-sm-offset-3">
        {{ form_row(requestForm.email) }}
    </div>
    </div>
    <div class="row">
        <div class="col-sm-6 col-sm-offset-3">
            <small>

                Entrez votre adresse e-mail et nous vous enverrons un
                lien pour réinitialiser votre mot de passe.
            </small>
        </div>
    </div>
        <br>
    <div class="row">
    <div class="col-sm-6 col-sm-offset-3">
        <button class="btn btn-primary">Envoyer un mail de réinitialisation</button>
    </div>
    </div>
    {{ form_end(requestForm) }}
    </div>
{% endblock %}