{% extends "base.html.twig" %}
{% block body %}
<h1>hello me</h1>
{% endblock %}
{% block javascripts %}
	<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
	<script>
        console.log('I work fine');
	</script>

{% endblock %}