{% extends 'base.html.twig' %}

{% block title %}Hello FavorisController!{% endblock %}

{% block body %}

    <div class="row">
        {% for product in product_favoris %}
            <div class="col-4 mt-4">
                <div class="border border-dark rounded p-2 clearfix">
                    <h2>
                        {{ product.idProduit }}
                    </h2>
                    <img  style="width: 100px ; height: 130px" src="{{ asset('/ProductImages') ~ '/' ~ product.image }}" />

                </div>
            </div>
        {% endfor %}
    </div>
{% endblock %}
